* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #f0f2f5;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#conteiner {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
#acoes { display: flex; align-items: center; gap: 5px; flex-wrap: nowrap; }
#acoes img { width: 32px; height: 32px; object-fit: cover; cursor: pointer; }
#acoes button { flex: 1; white-space: nowrap; }

#tabelaContainer {
    max-height: 400px; /* altura máxima visível */
    overflow-y: auto;  /* scroll vertical */
    overflow-x: auto;  /* scroll horizontal, se precisar */
    border: 1px solid #ccc;
    border-radius: 5px;
}


h1, h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #444;
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: 10px;
    width: 100%;
}

button:hover {
    background-color: #2980b9;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    font-size: 0.9em;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background-color: #f8f8f8;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.acoes button {
    margin: 0 2px;
    width: auto;
    padding: 5px 10px;
    font-size: 0.85em;
}

#arquivoTabela {
    table-layout: fixed;
    word-wrap: break-word;
    border-collapse: collapse;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#arquivoTabela td, #arquivoTabela th {
    word-break: break-word;
}

#arquivoTabela td:first-child {
    max-width: 150px;
}

#arquivoTabela thead, #arquivoTabela tbody {
    display: block;
}

#arquivoTabela thead tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    background-color: #f8f8f8;
}

#arquivoTabela tbody {
    height: 350px; 
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    width: 100%;
}

#arquivoTabela tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#arquivoTabela th, #arquivoTabela td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    word-break: break-word;
}

#arquivoTabela td:first-child, #arquivoTabela th:first-child {
    max-width: 150px;
}


@media (max-width: 600px) {
    #conteiner {
        overflow-x: auto;
    }
}